body{
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ebebeb;
	background:#efeded url("../images/bg_home.jpg") repeat-x;
}

.header{
	width:100%;
	height: 85px;
	margin: 0;
}
.hed_conten{
	width: 900px;
	margin: 0 auto;
	position:relative;
}

.img_logo{
	float:left;
	display:block;
	width:150px;
	margin:13px 0 0 25px;
}
.img_logo img{
	border: none;
	width:185px;
}
.beta{
	position: absolute;
	left: 198px;
	top: 5px;
}

.hed_login{
	float: right;
	width: 315px;
	margin: 8px 20px 0 0;
}
.hed_login form{
	width: 300px;
	margin: 0 auto;
	color: #fff;
	font-size: .8em;
}
.hed_login input[type="text"], .hed_login input[type="password"]{
	font-size: .8em;
	width: 115px;
}
.hed_login .remember{
	float:left;
	font-size: .8em;
}
.hed_login .remember input{
	width: 11px;
}
#btn_login{
	width:46px;
	height:19px;
	border:none;
	font-size:.8em;
	padding:0;
	cursor:pointer;
	background: url("../images/btn_entrar.png") no-repeat;
}
#btn_login:hover{
	background: url("../images/btn_entrar1.png") no-repeat;
}
.hed_login .link_log{
	float:right;
	margin:5px 55px 0 0;
	color: #fff;
	text-decoration: none;
	font-size: .8em;
}
.hed_login .link_log:hover{
	text-decoration: underline;
}

.connect_with{
	border-top: 1px #c3bcbb solid;
	margin-top: 8px;
	padding-top: 4px;
}
.connect_with a{
	margin-left: 18px;
}
.connect_with img{
	border: none;
}

.hed_busqueda{
	position:relative;
	float:right;
	width: 200px;
	height:20px;
	color: #939393;
	margin-top:15px;
	background-color:#fff;
	
	border: 1px #939393 solid;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.hed_busqueda .hed_txtbuscar{
	border: none;
	width:155px;
	position:relative;
	top: -2px;
	margin-left: 5px;
	font-size: .7em;
}
#hed_lblbuscar{
	display: none;
}
.search_example{
	position:absolute;
	width:200px;
	left:5px;
	bottom:-15px;
	color:#ccc;
	font-size: .7em;
	font-weight: bold;
}





#home{
	position: absolute;
	top: 77px;
	width: 100%;
}
.home_cnt{
	width: 900px;
	margin: 0 auto;
}
#home .gallery_home{
	float:left;
	width: 560px;
	height: 385px;
}
.gallery_home .titless{
	font-family: "georgia";
	float:right;
	width: 270px;
	height: 62px;
	font-size: 1.4em;
	font-style:italic;
	color: #fff;
	margin-bottom: 2px;
}
#slider .inff{
	font-family: "georgia";
	position: absolute;
	top: 0px;
	width: 234px;
	padding: 10px;
	background-color: #fff;
	font-size: .8em;
}
#slider .infftitle{
	font-family: "georgia";
	font-size: 1.1em;
	font-style:italic;
	font-weight:bold;
	color: #450302;
}
#slider .imgff2{
	top: 260px;
	left: 0px;
	width: 254px;
	margin-left: 20px;
}
#slider .imgff2 .infftitle{
	text-align: right;
}
/*#slider {
    position:relative;
    width:550px; /* Change this to your images width 
    height:303px; /* Change this to your images height 
    background:url(../images/loader_min.gif) no-repeat 50% 50%;
    border: 5px #fff solid;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
#slider a {
    border:0;
    display:block;
}*/

#home .register{
	float: right;
	width:300px;
	height:209px;
	background: url("../images/bg_register_home.png") repeat-x left bottom;
	margin-top:180px;
	text-align:center;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.register .rgtitle{
	font-family: "georgia";
	font-size: 1em;
	font-weight: bold;
	font-style:italic;
	text-align:center;
	color: #460209;
	padding: 15px 0 20px 0;
}
.register .link_face{
	display:block;
	width:224px;
	height:33px;
	margin: 0 auto;
	padding:5px 0 0 45px;
	font-size:1.1em;
	text-align:left;
	color:#fff;
	text-decoration:none;
	background: url("../images/btn_log_facebook.jpg") no-repeat;
}
#face_login .loader_linface{
	margin-left: 38px;
}
.register label{
	float:left;
	display:block;
	width:80px;
	font-size: .7em;
	font-weight: bold;
	font-style:italic;
	text-align:right;
	color: #460209;
	margin-right: 3px;
}
.register input, .register select{
	font-size: 1.1em;
}
.register .padding{ padding-top: 8px;}
.register .paddingm{padding-top: 2px;}
.register .regis_msg{
	width: 230px;
	margin: 10px 0 8px 20px;
	font-size: .6em;
	color: #666;
	text-align:left;
	padding-right: 3px;
}
.btn_tinto{
	float:right;
	background-color: #450302;
	color: #fff;
	padding: 4px 8px;
	cursor:pointer;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: none;
}

#preloader_rg{
	float: left;
	width: 210px;
	text-align: right;
	margin-top: 6px;
	font-weight: bold;
	font-size:.6em;
	color: #666;
}



#info_more{
	width: 900px;
	margin: 0 auto;
	background-color: #fff;
	padding:25px;
	font-size: .8em;
	color: #333;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
}
#info_more .title{
	font-family: "georgia";
	font-size: 1.4em;
	font-style:italic;
	font-weight:bold;
	color: #4e140d;
	
}
#info_more a{
	color: #2e61a6;
	text-decoration: none;
}
#info_more a:hover{
	text-decoration: underline;
}

.title.import{
	margin-top: 55px;
	text-align: center;
}
#import_fbcontacts{
	width: 80%;
	margin: 0px auto 55px auto;
	text-align: center;
}


.footer{
	width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: .7em;
	color: #666;
}
.footer .sel{
	font-weight: bold;
}
.footer.margin{
	margin-top: 700px;
}





a.link_blue{
	color: #2e61a6;
	text-decoration: none;
}
a.link_blue:hover{
	text-decoration: underline;
}

.no_show{
	display: none;
}
.clear{
	clear: both;
}